.logo {
    text-align: center;
    font-size: 35px;
}

.wrapper {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
}

.label {
    margin-bottom: 10px;
}

.error {
    height: 30px;
    display: block;
    width: 100%;
    font-size: 70%;
    text-align: center;
}

ion-icon {
    margin-right: 10px;
}